<table class="table">
    <thead>
        <tr>
            <th class="th__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="selectAll"><span></span></label>
                </div>
            </th>
            <th><a href="/dashboard/products?sort=title&amp;sortMethod=desc" class="table-sorter default">Nama Produk</a></th>
            <th><a href="/dashboard/products?sort=category&amp;sortMethod=desc" class="table-sorter default">Kategori</a></th>
            <th style="text-align:right;width:12rem;"><a href="/dashboard/products?sort=sell_price&amp;sortMethod=desc" class="table-sorter default">Harga Jual</a></th>
            <th style="text-align:right;width:12rem;"><a href="/dashboard/products?sort=buying_price&amp;sortMethod=desc" class="table-sorter default">Harga Beli</a></th>
            <th style="text-align:right;width:10rem;"><a href="/dashboard/products?sort=total_quantity&amp;sortMethod=desc" class="table-sorter default">Stock</a></th>
            <th><a href="/dashboard/products?sort=updated&amp;sortMethod=desc" class="table-sorter default">Last Update</a></th>
        </tr>
    </thead>
    <tbody id="products-data-table">
        <tr data-product-id="a68c764c-e255-4084-b4a5-b9588057ff03">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/d486ea864580ee10a755bb15549fe207_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/a68c764c-e255-4084-b4a5-b9588057ff03/preview" data-remote-target="#previewProductModal .modal-dialog">Eidel Ruffle Peplum Midi Skirt</a>
                <small>test image post</small>
            </td>
            <td>
                Aksesoris
            </td>
            <td class="nowrap">
                95.000
                <small>1.000</small>
            </td>
            <td class="nowrap">
                900
            </td>
            <td>
                10
            </td>
            <td>
                <small>Rabu, 29-7-2015, 16:46</small>
            </td>
        </tr>
        <tr data-product-id="a086d2dd-9ee1-4dd2-8ad0-c471d344f47a">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/a3660d5dbeb4773c671e52f39a4accc6_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/a086d2dd-9ee1-4dd2-8ad0-c471d344f47a/preview" data-remote-target="#previewProductModal .modal-dialog">Dominica Blossom Rose Jumpsuit</a>
                <small>punya mbak ari</small>
            </td>
            <td>
                Aksesoris
            </td>
            <td class="nowrap">
                100
                <small>90</small>
            </td>
            <td class="nowrap">
                90
            </td>
            <td>
                21
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr data-product-id="f656f023-a287-4202-a3f4-ee2eb1b806d8">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/97eb557a93f0c6f9e85566ff4835728e_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/f656f023-a287-4202-a3f4-ee2eb1b806d8/preview" data-remote-target="#previewProductModal .modal-dialog">Feca Zebra Sleeveless Jumpsuit</a>
                <small>test image post lagi</small>
            </td>
            <td>
                Aksesoris
            </td>
            <td class="nowrap">
                1.000
                <small>900</small>
            </td>
            <td class="nowrap">
                800
            </td>
            <td>
                5
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr data-product-id="ba2e622a-f553-4fe5-a297-71ed6c5c91d9">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/409a0ece604d7c017eadad023bbc863b_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/ba2e622a-f553-4fe5-a297-71ed6c5c91d9/preview" data-remote-target="#previewProductModal .modal-dialog">Mona Flowery Sleeveless Jumpsuit</a>
                <small>dark side with url?</small>
            </td>
            <td>
                Aksesoris
            </td>
            <td class="nowrap">
                100
                <small>90</small>
            </td>
            <td class="nowrap">
                90
            </td>
            <td>
                4
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr data-product-id="7d1ae06e-ce1c-4213-957e-12ea5cd348bc">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/de1d98785fa732fe1023c60cb04abbc9_500.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/7d1ae06e-ce1c-4213-957e-12ea5cd348bc/preview" data-remote-target="#previewProductModal .modal-dialog">Kimiko Pearl Cut Out Blouse</a>
                <small>ttttttt</small>
            </td>
            <td>
                Atasan
            </td>
            <td class="nowrap">
                23
            </td>
            <td class="nowrap">
                2
            </td>
            <td>
                2
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr data-product-id="6aff433d-d2d7-4935-b1f6-78eb8ac036e6">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/ee3395ef15011dbd7462cb799f0f5e82_500.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/6aff433d-d2d7-4935-b1f6-78eb8ac036e6/preview" data-remote-target="#previewProductModal .modal-dialog">Fatina Flowery Bodycon Mini Dress</a>
                <small>TEST-PROD-VIN-01</small>
            </td>
            <td>
                Aksesoris
            </td>
            <td class="nowrap">
                1.000.000
            </td>
            <td class="nowrap">
                900.000
            </td>
            <td>
                3
            </td>
            <td>
                Selasa, 04-8-2015, 00:29
            </td>
        </tr>
        <tr data-product-id="6c9828d5-158b-47e5-a5d1-0148727027dd">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/c46ad267c00379311747bda7331ee62f_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/6c9828d5-158b-47e5-a5d1-0148727027dd/preview" data-remote-target="#previewProductModal .modal-dialog">Jevana Tied Hand Comfy Blouse</a>
                <small>test aslam</small>
            </td>
            <td>
                Bawahan
            </td>
            <td class="nowrap">
                111
                <small>110</small>
            </td>
            <td class="nowrap">
                100
            </td>
            <td>
                13
            </td>
            <td>
                Selasa, 28-7-2015, 21:04
            </td>
        </tr>
        <tr data-product-id="5c9a11a2-e4ab-4263-9704-7a875c80047f">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/da3cb97fa750d1287e8ba6f2817a214e.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/5c9a11a2-e4ab-4263-9704-7a875c80047f/preview" data-remote-target="#previewProductModal .modal-dialog">Sheelah Ribbon Pumps Heels</a>
                <small>OTG-MKN-001</small>
            </td>
            <td>
                Bawahan
            </td>
            <td class="nowrap">
                129.900
                <small>99.000</small>
            </td>
            <td class="nowrap">
                73.000
            </td>
            <td>
                392
            </td>
            <td>
                Kamis, 06-8-2015, 12:00
            </td>
        </tr>
        <tr data-product-id="91d5d315-a383-4138-be76-83d647cd8e39">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/f6c3d0395a6edbf3c1b6073559fb4c19.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/91d5d315-a383-4138-be76-83d647cd8e39/preview" data-remote-target="#previewProductModal .modal-dialog">Hanasya Square Comfy Tee</a>
                <small>produk baru lagi</small>
            </td>
            <td>
                Atasan
            </td>
            <td class="nowrap">
                100
                <small>90</small>
            </td>
            <td class="nowrap">
                90
            </td>
            <td>
                32
            </td>
            <td>
                Selasa, 11-8-2015, 11:08
            </td>
        </tr>
        <tr data-product-id="7f67b454-aeb0-4111-9def-89b0201f736d">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/e1a518ba2823f934fc1c472042100960_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/7f67b454-aeb0-4111-9def-89b0201f736d/preview" data-remote-target="#previewProductModal .modal-dialog">Fitriana Pocket Longsleeve Tee</a>
                <small>test-alif</small>
            </td>
            <td>
                Aksesoris
            </td>
            <td class="nowrap">
                2.000
            </td>
            <td class="nowrap">
                1.000
            </td>
            <td>
                17
            </td>
            <td>
                Selasa, 04-8-2015, 14:19
            </td>
        </tr>
        <tr data-product-id="80ed8ac9-dd9c-4af5-990c-6047588248cd">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/c40591b75a93f6d9573f37bb3f035650_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/80ed8ac9-dd9c-4af5-990c-6047588248cd/preview" data-remote-target="#previewProductModal .modal-dialog">Aviani Ethnic Pencil Long Pants</a>
                <small>dress</small>
            </td>
            <td>
                Dress
            </td>
            <td class="nowrap">
                50.000
            </td>
            <td class="nowrap">
                30.000
            </td>
            <td>
                0
            </td>
            <td>
                Rabu, 12-8-2015, 00:44
            </td>
        </tr>
        <tr data-product-id="9e323fbe-0a1c-4ec1-9779-8fc264776625">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/ca30664e66b4f222a22130d45b532d02_500.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/9e323fbe-0a1c-4ec1-9779-8fc264776625/preview" data-remote-target="#previewProductModal .modal-dialog">Cindya Flowery Sweet Mini Dress</a>
                <small>VN-test-010106</small>
            </td>
            <td>
                Aksesoris
            </td>
            <td class="nowrap">
                100.000
            </td>
            <td class="nowrap">
                50.000
            </td>
            <td>
                2
            </td>
            <td>
                Selasa, 11-8-2015, 11:08
            </td>
        </tr>
        <tr data-product-id="9f5c1057-13fd-42b8-9ab7-c0f5be712abe">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/73b8df889e1847ba8199ad70c1e3702a_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/9f5c1057-13fd-42b8-9ab7-c0f5be712abe/preview" data-remote-target="#previewProductModal .modal-dialog">Reswara Batik Back Slit Mini Dress</a>
                <small>VN-NEW-01</small>
            </td>
            <td>
                Aksesoris
            </td>
            <td class="nowrap">
                100.000
            </td>
            <td class="nowrap">
                50.000
            </td>
            <td>
                0
            </td>
            <td>
                Minggu, 09-8-2015, 11:59
            </td>
        </tr>
        <tr data-product-id="ded564c3-b184-465b-821e-86ee9448309f">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/87cfa09bee574c58a2fd5a683d698b9a_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/ded564c3-b184-465b-821e-86ee9448309f/preview" data-remote-target="#previewProductModal .modal-dialog">Katria Floral Zipper Mini Dress</a>
                <small>ari</small>
            </td>
            <td>
                Atasan
            </td>
            <td class="nowrap">
                100.000
                <small>90.000</small>
            </td>
            <td class="nowrap">
                20.000
            </td>
            <td>
                4
            </td>
            <td>
                Selasa, 11-8-2015, 11:08
            </td>
        </tr>
        <tr data-product-id="579aa606-7730-4c1f-8520-6a5d1d06d982">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/2cb53cf24b592fae840ec5898cecf871_500.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/579aa606-7730-4c1f-8520-6a5d1d06d982/preview" data-remote-target="#previewProductModal .modal-dialog">Osmon Jogger Pants</a>
                <small>ariabc_-() &amp;*(&amp;(&amp;(</small>
            </td>
            <td>
                Blouse
            </td>
            <td class="nowrap">
                100.000
                <small>80.000</small>
            </td>
            <td class="nowrap">
                50.000
            </td>
            <td>
                5
            </td>
            <td>
                Rabu, 29-7-2015, 12:56
            </td>
        </tr>
        <tr data-product-id="cc9fac05-cc36-404a-b706-79048baa06b1">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/ceef1df012ec73d9bea0fa4d5ab02e9b_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/cc9fac05-cc36-404a-b706-79048baa06b1/preview" data-remote-target="#previewProductModal .modal-dialog">Cassey Plain Batwing Blouse</a>
                <small>test kyu</small>
            </td>
            <td>
                Atasan
            </td>
            <td class="nowrap">
                50.000
            </td>
            <td class="nowrap">
                40.000
            </td>
            <td>
                8
            </td>
            <td>
                Rabu, 05-8-2015, 08:06
            </td>
        </tr>
        <tr data-product-id="043e9e2b-e581-429b-8a16-fe8ba4763af6">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/4d2852eabf6d641fd507bdc1cb3159b7_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/043e9e2b-e581-429b-8a16-fe8ba4763af6/preview" data-remote-target="#previewProductModal .modal-dialog">Ezza Flowery Peplum Mini Dress</a>
                <small>VN-test-010105</small>
            </td>
            <td>
                Atasan
            </td>
            <td class="nowrap">
                85.000
            </td>
            <td class="nowrap">
                50.000
            </td>
            <td>
                0
            </td>
            <td>
                Rabu, 12-8-2015, 00:44
            </td>
        </tr>
        <tr data-product-id="93429bf6-3617-4b11-83f8-19ace0cca2b5">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/48f3fc254a907fae9317725041251e31_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/93429bf6-3617-4b11-83f8-19ace0cca2b5/preview" data-remote-target="#previewProductModal .modal-dialog">Wulandari Floral Bodycon Mini Dress</a>
                <small>nama-kode- spasi dan !@#$%^&amp;*()_</small>
            </td>
            <td>
                Aksesoris
            </td>
            <td class="nowrap">
                50.000
                <small>20.000</small>
            </td>
            <td class="nowrap">
                0
            </td>
            <td>
                12
            </td>
            <td>
                Rabu, 29-7-2015, 14:15
            </td>
        </tr>
        <tr data-product-id="b877a465-3006-4a42-ac10-74c25b041a3d">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/1891bc3a4e37534ceb4e1a92bb5f58c0_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/b877a465-3006-4a42-ac10-74c25b041a3d/preview" data-remote-target="#previewProductModal .modal-dialog">Janica Flowery Cullote Long Pants</a>
                <small>AB-DK-AA-B</small>
            </td>
            <td>
                Atasan
            </td>
            <td class="nowrap">
                100.000
                <small>80.000</small>
            </td>
            <td class="nowrap">
                800.000
            </td>
            <td>
                48
            </td>
            <td>
                Senin, 27-7-2015, 15:24
            </td>
        </tr>
        <tr data-product-id="bb154efb-7aeb-4619-801a-2f53d151abd2">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/c40591b75a93f6d9573f37bb3f035650_600.jpg)"></div>
                <a href="#" data-toggle="modal" data-target="#previewProductModal" data-load-remote="products/bb154efb-7aeb-4619-801a-2f53d151abd2/preview" data-remote-target="#previewProductModal .modal-dialog">Aviani Ethnic Pencil Long Pants</a>
                <small>batikb</small>
            </td>
            <td>
                Atasan
            </td>
            <td class="nowrap">
                60.000
                <small>50.000</small>
            </td>
            <td class="nowrap">
                0
            </td>
            <td>
                13
            </td>
            <td>
                Senin, 27-7-2015, 15:36
            </td>
        </tr>
    </tbody>
</table>