<table class="table">
    <thead>
        <tr>
            <th class="th__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="selectAll"><span></span></label>
                </div>
            </th>
            <th>Nama</th>
            <th>Telpon</th>
            <th>Email</th>
            <th><a href="#" class="table-sorter default">Pembelian</a></th>
            <th><a href="#" class="table-sorter descending">Poin</a></th>
            <th>Alamat</th>
            <th><a href="#" class="table-sorter ascending">Terdaftar</a></th>
        </tr>
    </thead>
    <tbody id="products-data-table">
        <tr data-product-id="a68c764c-e255-4084-b4a5-b9588057ff03">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <a href="detail-member.html">
                    <div class="avatar" style="background-image:url(http://www.salestockindonesia.com/assets/images/default-avatar-287a6814.png)"></div>
                    Sista Kita
                </a>
            </td>
            <td class="nowrap">
                <span class="autoselect">0899232131</span>
            </td>
            <td class="nowrap">
                <span class="autoselect">oleole@mailinator.com</span>
            </td>
            <td class="nowrap">
                11
            </td>
            <td class="nowrap">
                10
            </td>
            <td>
                Jalan Kaliurang Km 5.5, Caturtunggal, Ngaglik, Sleman, Yogyakarta
            </td>
            <td class="nowrap">
                Rabu, 29-7-2015, 16:46
            </td>
        </tr>
        <tr data-product-id="a086d2dd-9ee1-4dd2-8ad0-c471d344f47a">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span>
                    </label>
                </div>
            </td>
            <td>
                <a href="detail-member.html">
                    <div class="avatar" style="background-image:url(http://s3.amazonaws.com/kidzworld_photo/images/2010715/1c391f0d-f383-4061-bd36-62f02f357dda/6110_04.jpg)"></div>
                    Mike Tyson
                </a>

                <div class="pull-right">
                    <i class="icon" data-tooltip title="Verified"><img src="svg/approve.svg"></i>
                </div>
            </td>
            <td class="nowrap">
                <span class="autoselect">0899232131</span>
            </td>
            <td class="nowrap">
                <span class="autoselect">oleole@mailinator.com</span>
            </td>
            <td class="nowrap">
                10
            </td>
            <td class="nowrap">
                10
            </td>
            <td>
                Dukuh Dukuh, Bonyokan, Jatinom, Klaten
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr data-product-id="f656f023-a287-4202-a3f4-ee2eb1b806d8">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <a href="detail-member.html">
                    <div class="avatar" style="background-image:url(http://imstars.aufeminin.com/stars/fan/the-rock/the-rock-20070731-291943_s100.jpg)"></div>
                    Nde Rock
                </a>
                <div class="pull-right">
                    <i class="icon" data-tooltip title="Banned"><img src="svg/hit.svg"></i>
                </div>
            </td>
            <td class="nowrap">
                <span class="autoselect">0899232131</span>
            </td>
            <td class="nowrap">
                <span class="autoselect">oleole@mailinator.com</span>
            </td>
            <td class="nowrap">
                3
            </td>
            <td class="nowrap">
                10
            </td>
            <td>
                Jalan Megelang Km 15.5 Sleman, Yogyakarta
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr data-product-id="ba2e622a-f553-4fe5-a297-71ed6c5c91d9">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <a href="detail-member.html">
                    <div class="avatar" style="background-image:url(http://www.salestockindonesia.com/assets/images/default-avatar-287a6814.png)"></div>
                    Sista 1337
                </a>
            </td>
            <td class="nowrap">
                <span class="autoselect">0899232131</span>
            </td>
            <td class="nowrap">
                <span class="autoselect">oleole@mailinator.com</span>
            </td>
            <td class="nowrap">
                2
            </td>
            <td class="nowrap">
                10
            </td>
            <td>
                Nabire, Papua
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr data-product-id="7d1ae06e-ce1c-4213-957e-12ea5cd348bc">
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <a href="detail-member.html">
                    <div class="avatar" style="background-image:url(http://images4.fanpop.com/image/photos/19200000/Machete-machete-19246262-100-100.jpg)"></div>
                    Machette
                </a>
            </td>
            <td class="nowrap">
                <span class="autoselect">0899232131</span>
            </td>
            <td class="nowrap">
                <span class="autoselect">oleole@mailinator.com</span>
            </td>
            <td class="nowrap">
                2
            </td>
            <td class="nowrap">
                10
            </td>
            <td>
                Jalan Megelang Km 15.5 Sleman, Yogyakarta
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
    </tbody>
</table>
