<table class="table">
                <thead>
                    <tr>
                        <th style="width:1%;">
                            <div class="checkbox">
                                <label><input type="checkbox" id="selectAll"><span></span></label>
                            </div>
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Region</th>
                        <th>Join Date</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="customers-data-table">

                
                    

<tr data-member-id="1bbca643-c196-4cb6-89db-4d9c8eb6361a">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="1bbca643-c196-4cb6-89db-4d9c8eb6361a">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest 12314334324</span>
    </td>
    <td>
        kirana2@mailinator.com
    </td>
    <td>
        3635
    </td>
    <td>
        
    </td>
    <td>
        Rabu, 29 Juli 2015, 14:08
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="1bbca643-c196-4cb6-89db-4d9c8eb6361a" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="30857e82-e992-4e3b-886f-1c11d41f2b77">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="30857e82-e992-4e3b-886f-1c11d41f2b77">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest  12314334323</span>
    </td>
    <td>
        
    </td>
    <td>
        92612345
    </td>
    <td>
        
    </td>
    <td>
        Rabu, 29 Juli 2015, 09:26
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="30857e82-e992-4e3b-886f-1c11d41f2b77" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="f8bc0fd5-0794-4bf7-b7d5-6a8217aa059d">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="f8bc0fd5-0794-4bf7-b7d5-6a8217aa059d">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest 12314334322</span>
    </td>
    <td>
        kirana1@mailinator.com
    </td>
    <td>
        963
    </td>
    <td>
        
    </td>
    <td>
        Selasa, 28 Juli 2015, 23:44
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="f8bc0fd5-0794-4bf7-b7d5-6a8217aa059d" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="ab7ff217-4a73-48c7-85b5-7e4763f305de">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="ab7ff217-4a73-48c7-85b5-7e4763f305de">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        
    </td>
    <td>
        62812123
    </td>
    <td>
        
    </td>
    <td>
        Senin, 27 Juli 2015, 15:53
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="ab7ff217-4a73-48c7-85b5-7e4763f305de" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="d6da4729-5a5f-4207-84a4-3be080613ad5">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="d6da4729-5a5f-4207-84a4-3be080613ad5">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        
    </td>
    <td>
        926111111
    </td>
    <td>
        
    </td>
    <td>
        Senin, 27 Juli 2015, 15:53
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="d6da4729-5a5f-4207-84a4-3be080613ad5" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="8ffb0f1d-78a5-45f1-9b3d-b7d6bf5f7069">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="8ffb0f1d-78a5-45f1-9b3d-b7d6bf5f7069">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        kirana@mailinator.com
    </td>
    <td>
        36366
    </td>
    <td>
        
    </td>
    <td>
        Minggu, 26 Juli 2015, 22:42
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="8ffb0f1d-78a5-45f1-9b3d-b7d6bf5f7069" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="d0c8efea-3058-4eb5-9066-e1598aee761e">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="d0c8efea-3058-4eb5-9066-e1598aee761e">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <a href="#" data-toggle="modal" data-id="d0c8efea-3058-4eb5-9066-e1598aee761e" data-target="#customerModal">Sonny Lazuardi</a>
    </td>
    <td>
        sonnylazuardi@gmail.com
    </td>
    <td>
        628111777111
    </td>
    <td>
        Jawa Barat
    </td>
    <td>
        Minggu, 26 Juli 2015, 19:20
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="d0c8efea-3058-4eb5-9066-e1598aee761e" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="bd680e48-9f10-46c6-9957-d3052685b4fe">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="bd680e48-9f10-46c6-9957-d3052685b4fe">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <a href="#" data-toggle="modal" data-id="bd680e48-9f10-46c6-9957-d3052685b4fe" data-target="#customerModal">alvin</a>
    </td>
    <td>
        alvin@salestock.id
    </td>
    <td>
        62811658628
    </td>
    <td>
        Bengkulu
    </td>
    <td>
        Sabtu, 25 Juli 2015, 03:29
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="bd680e48-9f10-46c6-9957-d3052685b4fe" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="87297aed-b07c-4728-91ba-23a395260041">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="87297aed-b07c-4728-91ba-23a395260041">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <a href="#" data-toggle="modal" data-id="87297aed-b07c-4728-91ba-23a395260041" data-target="#customerModal">momo</a>
    </td>
    <td>
        alvintamie@gmail.com
    </td>
    <td>
        628126038088
    </td>
    <td>
        Banten
    </td>
    <td>
        Sabtu, 25 Juli 2015, 03:29
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="87297aed-b07c-4728-91ba-23a395260041" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="57cc3aea-5012-47d7-972d-23ccc4ec0d05">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="57cc3aea-5012-47d7-972d-23ccc4ec0d05">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        ayasoraya002@gmail.com
    </td>
    <td>
        123456789
    </td>
    <td>
        
    </td>
    <td>
        Jumat, 24 Juli 2015, 12:36
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="57cc3aea-5012-47d7-972d-23ccc4ec0d05" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="8d39d6a5-fc82-459d-a8eb-9b333669de8a">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="8d39d6a5-fc82-459d-a8eb-9b333669de8a">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        yudha.inggar@noosc.co.id
    </td>
    <td>
        6281908217965
    </td>
    <td>
        
    </td>
    <td>
        Jumat, 24 Juli 2015, 12:36
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="8d39d6a5-fc82-459d-a8eb-9b333669de8a" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="780e2fef-6e6f-423d-8f76-b5803b49ea82">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="780e2fef-6e6f-423d-8f76-b5803b49ea82">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        
    </td>
    <td>
        6282228405246
    </td>
    <td>
        
    </td>
    <td>
        Jumat, 24 Juli 2015, 12:36
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="780e2fef-6e6f-423d-8f76-b5803b49ea82" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="bc8073fd-cb78-4c0f-a743-088816fee85a">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="bc8073fd-cb78-4c0f-a743-088816fee85a">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        
    </td>
    <td>
        6289928405246
    </td>
    <td>
        
    </td>
    <td>
        Jumat, 24 Juli 2015, 12:36
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="bc8073fd-cb78-4c0f-a743-088816fee85a" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="a81ca350-bc2a-4a41-aacf-74daf04f8e0e">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="a81ca350-bc2a-4a41-aacf-74daf04f8e0e">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <a href="#" data-toggle="modal" data-id="a81ca350-bc2a-4a41-aacf-74daf04f8e0e" data-target="#customerModal">Vina Ekawati</a>
    </td>
    <td>
        vinaekawati@salestock.id
    </td>
    <td>
        6285729288080
    </td>
    <td>
        
    </td>
    <td>
        Kamis, 23 Juli 2015, 23:56
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="a81ca350-bc2a-4a41-aacf-74daf04f8e0e" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="1e36d70f-f1dd-49a4-b27e-ff5b790012b3">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="1e36d70f-f1dd-49a4-b27e-ff5b790012b3">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <a href="#" data-toggle="modal" data-id="1e36d70f-f1dd-49a4-b27e-ff5b790012b3" data-target="#customerModal">Piggy wati</a>
    </td>
    <td>
        piggywati@mailinator.com
    </td>
    <td>
        073090798
    </td>
    <td>
        DI Yogyakarta
    </td>
    <td>
        Kamis, 23 Juli 2015, 20:20
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="1e36d70f-f1dd-49a4-b27e-ff5b790012b3" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="f98b4797-626a-47d9-81d0-d6e466a4fd00">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="f98b4797-626a-47d9-81d0-d6e466a4fd00">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        
    </td>
    <td>
        6282147366876
    </td>
    <td>
        
    </td>
    <td>
        Kamis, 23 Juli 2015, 13:18
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="f98b4797-626a-47d9-81d0-d6e466a4fd00" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="17595b20-994e-4d3d-92d8-2656e11e306a">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="17595b20-994e-4d3d-92d8-2656e11e306a">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        
    </td>
    <td>
        6283114145546
    </td>
    <td>
        
    </td>
    <td>
        Kamis, 23 Juli 2015, 13:18
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="17595b20-994e-4d3d-92d8-2656e11e306a" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="455b3f46-9713-4924-ba1f-c1a4736aff50">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="455b3f46-9713-4924-ba1f-c1a4736aff50">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <a href="#" data-toggle="modal" data-id="455b3f46-9713-4924-ba1f-c1a4736aff50" data-target="#customerModal">sonny lazuardi</a>
    </td>
    <td>
        
    </td>
    <td>
        
    </td>
    <td>
        
    </td>
    <td>
        Kamis, 23 Juli 2015, 13:18
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="455b3f46-9713-4924-ba1f-c1a4736aff50" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="70727716-14dd-4cc4-ac1b-c54ada6e4af9">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="70727716-14dd-4cc4-ac1b-c54ada6e4af9">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        
    </td>
    <td>
        6282128405246
    </td>
    <td>
        
    </td>
    <td>
        Kamis, 23 Juli 2015, 13:18
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="70727716-14dd-4cc4-ac1b-c54ada6e4af9" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                
                    

<tr data-member-id="fdcb9024-3f1a-48bd-af90-b29715c3e6ef">
    <td style="width:1%">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="itemSelector">
                <input type="hidden" name="memberId" value="fdcb9024-3f1a-48bd-af90-b29715c3e6ef">
                <span></span>
            </label>
        </div>
    </td>
    <td>
        <span>Guest</span>
    </td>
    <td>
        
    </td>
    <td>
        628882222555
    </td>
    <td>
        
    </td>
    <td>
        Rabu, 22 Juli 2015, 17:47
    </td>
    <td style="text-align:right">
        <a href="#" class="table__edit" data-toggle="modal" data-id="fdcb9024-3f1a-48bd-af90-b29715c3e6ef" data-target="#customerModal" data-tooltip="" data-title="Edit" data-original-title="" title="">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.73-80-79.997L64 368zm377.602-217.602c8.53-8.53 8.53-21.334 0-29.865l-50.135-50.135c-8.53-8.53-21.334-8.53-29.865 0l-39.468 39.47 80 79.997 39.468-39.467z"></path></svg>
        </a>
        <a href="#" class="table__delete" data-tooltip="" title="" data-original-title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M128 405.43c0 23.416 19.198 42.57 42.667 42.57h170.667C364.802 448 384 428.846 384 405.43V160H128v245.43zM416 96h-80l-26.785-32h-106.43L176 96H96v32h320V96z"></path></svg>
        </a>
    </td>
</tr>
                

                </tbody>
            </table>