<table class="table">
    <thead>
        <tr>
            <th class="th__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="selectAll"><span></span></label>
                </div>
            </th>
            <th>Aset</th>
            <th>Slug</th>
            <th><a href="#" class="table-sorter default">Jenis</a></th>
            <th><a href="#" class="table-sorter default">Ukuran</a></th>
            <th><a href="#" class="table-sorter default">Dimensi</a></th>
            <th><a href="#" class="table-sorter default">Tanggal</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span>
                    </label>
                </div>
            </td>
            <td>
                <a href="http://i.ss-cdn.net/product_images/d486ea864580ee10a755bb15549fe207_600.jpg" data-toggle="modal" data-target="#media-library-modal">
                    <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/d486ea864580ee10a755bb15549fe207_600.jpg)"></div>
                    Eidel Ruffle Peplum Midi Skirt
                </a>
            </td>
            <td>
                <span class="autoselect">http://i.ss-cdn.net/product_images/d486ea864580ee10a755bb15549fe207_600.jpg</span>
            </td>
            <td>image/jpg</td>
            <td class="nowrap">
                1,75Mb
            </td>
            <td class="nowrap">
                600&times;600px
            </td>
            <td class="nowrap">
                Rabu, 29-7-2015, 16:46
            </td>
        </tr>
        <tr>
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span>
                    </label>
                </div>
            </td>
            <td>
                <a href="http://i.ss-cdn.net/product_images/d486ea864580ee10a755bb15549fe207_600.jpg" data-toggle="modal" data-target="#media-library-modal">
                    <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/a3660d5dbeb4773c671e52f39a4accc6_600.jpg)"></div>
                    Dominica Blossom Rose Jumpsuit
                </a>
            </td>
            <td>
                <span class="autoselect">http://i.ss-cdn.net/product_images/a3660d5dbeb4773c671e52f39a4accc6_600.jpg</span>
            </td>
            <td>image/jpg</td>
            <td class="nowrap">
                0,91Mb
            </td>
            <td class="nowrap">
                600&times;750px
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr>
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <a href="http://i.ss-cdn.net/product_images/d486ea864580ee10a755bb15549fe207_600.jpg" data-toggle="modal" data-target="#media-library-modal">
                    <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/97eb557a93f0c6f9e85566ff4835728e_600.jpg)"></div>
                    Feca Zebra Sleeveless Jumpsuit
                </a>
            </td>
            <td>
                <span class="autoselect">http://i.ss-cdn.net/product_images/97eb557a93f0c6f9e85566ff4835728e_600.jpg</span>
            </td>
            <td>image/jpg</td>
            <td class="nowrap">
                0,9Mb
            </td>
            <td class="nowrap">
                600&times;600px
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr>
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <a href="http://i.ss-cdn.net/product_images/d486ea864580ee10a755bb15549fe207_600.jpg" data-toggle="modal" data-target="#media-library-modal">
                    <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/409a0ece604d7c017eadad023bbc863b_600.jpg)"></div>
                    Mona Flowery Sleeveless Jumpsuit
                </a>
            </td>
            <td>
                <span class="autoselect">http://i.ss-cdn.net/product_images/409a0ece604d7c017eadad023bbc863b_600.jpg</span>
            </td>
            <td>image/jpg</td>
            <td class="nowrap">
                1,8Mb
            </td>
            <td class="nowrap">
                680&times;600px
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
        <tr>
            <td class="td__check">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span></span></label>
                </div>
            </td>
            <td>
                <a href="http://i.ss-cdn.net/product_images/d486ea864580ee10a755bb15549fe207_600.jpg" data-toggle="modal" data-target="#media-library-modal">
                    <div class="thumbnail" style="background-image:url(http://i.ss-cdn.net/product_images/de1d98785fa732fe1023c60cb04abbc9_500.jpg)"></div>
                    Kimiko Pearl Cut Out Blouse
                </a>
            </td>
            <td>
                <span class="autoselect">http://i.ss-cdn.net/product_images/de1d98785fa732fe1023c60cb04abbc9_500.jpg</span>
            </td>
            <td>image/jpg</td>
            <td class="nowrap">
                1,5Mb
            </td>
            <td class="nowrap">
                600&times;600px
            </td>
            <td>
                Selasa, 11-8-2015, 11:07
            </td>
        </tr>
    </tbody>
</table>
