<table class="table">
        <thead>
            <tr>
                <th>Kategori</th>
                <th style="width:1%;">Thumbnail</th>
                <th>Slug</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="categoryDataTable">

        
            

<tr>
    <td>
        <a href="#">Out Of Stock</a>
    </td>
     <td>
        <div class="thumbnail" style="background-image:url()"></div>
    </td>
    <td>
        <a href="http://salestockindonesia.com/out-of-stock" target="_Blank">out-of-stock</a>
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-down.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>
        
            

<tr>
    <td>
        <a href="#">Sale</a>
    </td>
    <td>
        <div class="thumbnail" style="background-image:url()"></div>
    </td>
    <td>
        /sale
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-up.svg" alt="">
            </a>
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-down.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>
        
            

<tr>
    <td>
        <a href="#">Jumpsuit</a>
    </td>
    <td>
        <div class="thumbnail" style="background-image:url(http://image.dear-lover.com/productpic/Royal-Blue-Long-sleeve-Jumpsuit-with-Mesh-Insert-LC6866-1.jpg)"></div>
    </td>
    <td>
        /jumpsuit
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-up.svg" alt="">
            </a>
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-down.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>
        
            

<tr>
    <td>
        <a href="#">Atasan</a>
    </td>
    <td>
        <div class="thumbnail" style="background-image:url(http://www.koreanfashionstore.com/image/cache/data/blouse/Simple-Comfy-Loose-Blouse-m-500x500.jpg)"></div>
    </td>
    <td>
        /atasan
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-up.svg" alt="">
            </a>
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-down.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>



            

<tr>
    <td>
        <a href="#">Tas</a>
    </td>
    <td>
        <div class="thumbnail" style="background-image:url(http://www.lindeelou.com/images/sy20yd2003020diaper20bag20LG20dots20Black20Pink20BIG.jpg)"></div>
    </td>
    <td>
        /tas
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-up.svg" alt="">
            </a>
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-down.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>
        
            

<tr>
    <td>
        <a href="#">Bawahan</a>
    </td>
    <td>
        <div class="thumbnail" style="background-image:url(https://webbydancecompany.com/store/images/P/pull_on_skirt_black.jpg)"></div>
    </td>
    <td>
        /bawahan
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-up.svg" alt="">
            </a>
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-down.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>
        
            

<tr>
    <td>
        <a href="#">New Arrivals</a>
    </td>
    <td>
        <div class="thumbnail" style="background-image:url()"></div>
    </td>
    <td>
        /new-arrivals
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-up.svg" alt="">
            </a>
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-down.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>
        
            

<tr>
    <td>
        <a href="#">Aksesoris</a>
    </td>
    <td>
        <div class="thumbnail" style="background-image:url(http://www.fashionshowon.com/wp-content/uploads/2012/06/Fashion-Accessories-2012-neklace-ideas-500x500.jpg)"></div>
    </td>
    <td>
        /aksesoris
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-up.svg" alt="">
            </a>
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-down.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>
        
            

<tr>
    <td>
        <a href="#">Home</a>
    </td>
    <td>
        <div class="thumbnail" style="background-image:url()"></div>
    </td>
    <td>
        /home
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-up.svg" alt="">
            </a>
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-down.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>
        
            

<tr>
    <td>
        <a href="#">Dress</a>
    </td>
    <td>
        <div class="thumbnail" style="background-image:url(http://ohmydresses.com/wp-content/uploads/2015/05/Finejo-Women-Sleeveless-Prom-Ball-Cocktail-Party-Formal-Evening-Gown-Dress-0.jpg)"></div>
    </td>
    <td>
        /dress
    </td>
    <td class="nowrap" style="text-align:right">
        <div class="table__edit">
            <a href="#" data-tooltip data-title="Edit">
                <img src="svg/arrow-up.svg" alt="">
            </a>
            <a href="#" data-tooltip tdata-title="Out Of Stock">
                <img src="svg/cog.svg" alt="">
            </a>
        </div>
    </td>
</tr>
        

        </tbody>
    </table>