<header class="site-header" id="site-header" role="banner">
    <div class="site-header__logo">
        <a href="/">
            <!-- <img src="img/logo.png" alt="Sale Stock Indonesia - Toko Baju Online - Dress, Maxi Dress, Rok, Celana, Blazer, Atasan Murah"> -->
        </a>
    </div>


    <div class="drawer drawer--left">
        <a href="#" data-modal="#modal__menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M96 241h320v32H96zM96 145h320v32H96zM96 337h320v32H96z"/></svg>
        </a>
    </div>

  

    <div class="site-header__navigation">
        <ul>
            <li>
                <a href="checkout.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 4.03v2h3.25l3.688 9.345c.15.38.527.625.937.625h11c.406 0 .784-.253.938-.625l1.625-4 2.437-5.97c.063-.153.11-.34.094-.5-.018-.16-.096-.298-.19-.436-.185-.277-.478-.44-.81-.44H7.937c-.324 0-.625.144-.813.407-.188.264-.23.6-.125.907l2.094 6c.14.4.507.656.937.656h9l-.81 2H8.562l-3.72-9.344c-.15-.38-.527-.625-.937-.625H0zm9.344 2H21.47L19.843 10H10.75L9.344 6.03zM9.5 17c-.834 0-1.5.697-1.5 1.53 0 .835.666 1.5 1.5 1.5s1.5-.665 1.5-1.5c0-.833-.666-1.53-1.5-1.53zm8 0c-.833 0-1.5.698-1.5 1.53 0 .835.667 1.5 1.5 1.5s1.53-.665 1.53-1.5c0-.832-.697-1.53-1.53-1.53z"/></svg>

                    <span class="site-header__notification">2</span>
                </a>
            </li>
        </ul>
    </div>
</header>

<!-- <div class="site-search">
    <div class="container">
        <div class="form-group form-group--flex">
            <div class="form-group__input">
                <input type="text" class="form-control" placeholder="Cari produk&hellip;">
            </div>
            <div class="form-group__btn">
                <button type="submit" class="btn btn--blue">Go</button>
            </div>
        </div>
    </div>
</div> -->
