.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    padding: .7rem 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    border: solid .1rem;
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.24);
    border-right-color: rgba(0, 0, 0, 0.16);
    border-left-color: rgba(0, 0, 0, 0.16);
    border-radius: .2rem;
    text-decoration: none;
    vertical-align: middle;
    font-weight:700;
    svg,img {
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        vertical-align: top;

        fill: #4a4a4a;
        float: left;
        margin:0 .6rem 0 -.4rem;
    }
    &--large {
        padding: .8rem 1.6rem;
    }
    &--block {
        display: block;
        width: 100%;
    }
    &--facebook {
        background: #3b5998;
        background-image: linear-gradient(to bottom, lighten(#3b5998, 8%) 0%, #3b5998 100%);
        color: #fff !important;
        border-top-color: lighten(#3b5998, 6%);
        text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);


        svg {
          fill:#fff;
        }
    }
    &--google {
        background: #dd4b39;
        color: #fff !important;
        background-image: linear-gradient(to bottom, lighten(#dd4b39, 8%) 0%, #dd4b39 100%);
        border-top-color: lighten(#dd4b39, 6%);
        text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);


        svg {
          fill:#fff;
        }
    }

    &.disabled,
    &:disabled {
        opacity: .72;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.btn:hover,
.btn:focus {
    position: relative;
    outline: 0;
    text-decoration: none;
}

.btn:active,.btn.active {
    box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
}

.btn--line {
    background: #fff;
    box-shadow: none !important;
    border: solid .1rem #c7c7cc;
    color: $text-color-gray;
}

.btn--link {
    background: rgba(0, 0, 0, 0);
    box-shadow: none !important;
    border-color: rgba(0,0,0,0) !important;
    &:hover, &:focus {
        text-decoration: underline;
    }
}

.btn--default {
    color: $text-color;
    text-shadow: .1rem .1rem rgba(255, 255, 255, .32);
    background-image: linear-gradient(to bottom, lighten(#eeeeee, 8%) 0%, #eeeeee 100%);
    border-top-color: rgba(0, 0, 0, 0.06);
}

.btn--red {
    text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    background: #D73C3C;
    background-image: linear-gradient(to bottom, lighten(#D73C3C, 8%) 0%, #D73C3C 100%);
    color: #fff;

    svg {
      fill:#fff;
    }
}

.btn--dark {
    text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    background: #262837;
    color: #fff;

    svg {
      fill:#fff;
    }
}

.btn--blue {
    text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    background: #3498db;
    background-image: linear-gradient(to bottom, lighten(#3498db, 8%) 0%, #3498db 100%);
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-right-color: rgba(0, 0, 0, 0.08);
    border-left-color: rgba(0, 0, 0, 0.08);
    border-top-color: lighten(#3498db, 6%);
    color: #fff;

    svg {
      fill:#fff;
    }
}


.btn--green {
    text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    background: #2ecc71;
    background-image: linear-gradient(to bottom, lighten(#2ecc71, 8%) 0%, #2ecc71 100%);
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-right-color: rgba(0, 0, 0, 0.08);
    border-left-color: rgba(0, 0, 0, 0.08);
    border-top-color: lighten(#2ecc71, 6%);
    color: #fff;

    svg {
      fill:#fff;
    }
}


.btn--medium {
    padding: .3rem 1.2rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
    border-radius: .2rem;
    font-weight: 500;
}

.btn--small {
    padding: .3rem 1.2rem;
    line-height: 2.4rem;
    font-size: 1.3rem;
    border-radius: .2rem;

    svg {
      width: 2rem;
      height: 2rem;
      margin-top: -.2rem;
      margin-bottom: -.2rem;
    }
}

.btn-group {
    display: inline-block;
    vertical-align: middle;
}

.btn-group .btn {
    border-radius: 0;
    margin: 0;
    float: left;
    margin-left: -.1rem !important;
}

.btn-group .btn:first-of-type {
    border-radius: .2rem 0 0 .2rem;
}

.btn-group .btn:last-of-type {
    border-radius: 0 .2rem .2rem 0;
}

.btn-group .btn:hover,
.btn-group .btn:focus {
    position: relative;
    z-index: 1;
}

.btn-group .btn--small:first-of-type {
    border-radius: .2rem 0 0 .2rem;
}

.btn-group .btn--small:last-of-type {
    border-radius: 0 .2rem .2rem 0;
}

.btn + .btn-group {
    margin-left: .3rem;
}

.btn-group + .btn-group {
    margin-left: .3rem;
}

.btn-group + .btn {
    margin-left: .3rem;
}