<!DOCTYPE html>
<html>

	
    <head>
        <meta charset="utf-8">
        <title>Sale Stock Indonesia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="css/dashboard.css">
    </head>

    <body>



    <div class="main" id="main" role="main">
      {{ content }}
    </div>

    <footer class="site-footer" id="site-footer">
		<div class="container">
			<div class="site-footer__copy">
				<small>&copy; 2015 Sale Stock Indonesia</small>
			</div>
		</div>
	</footer>



    </body>
</html>


